  </div><!-- /.container -->
  <footer class="footer">
    <div class="container">
      <p class="text-muted">&copy; LittleFacebook | <a href="/tripplaces">Home</a> | <a href="/tripplaces/new">Upload a Picture</a></p>
    </div>
  </footer>
  </body>
</html>