<% include ../partials/header %> 

     <header class="jumbotron">
         <div class="container">
             <h1><span class="fa fa-facebook-official"></span> Welcome To Little Facebook!</h1>
             <p>
                <a class="btn btn-primary btn-lg" href="/tripplaces/new">Upload photo</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center flex-wrap" id="tripplace-grid">
        <% tripplaces.forEach(function(tripplace){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail" id="index-image">
                   <img src="../images/<%= tripplace.image %>">
                   <div class="caption">
                       <h4><%= tripplace.name %></h4>
                   </div>
                   <p>
                       <a href="/tripplaces/<%= tripplace._id %>" class="btn btn-primary">More Info</a>
                   </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
